{% extends 'base.html' %}

{% block title %} {{event.event_name}} {% endblock %}

{% block content %}

<h2>{{event.event_name}}</h2>
<em> The match begins at: {{event.event_date}} </em>

<form action="{% url 'freebets:make_bet' event.id %}" method="POST">

 {% csrf_token %}
 <p><input type="radio" required name="team" value="first"> first team win</p>>
 <p><input type="radio" required name="team" value="second"> second team win</p>
 <input type="number" required placeholder="Your bet $$$:" name="money"> <br>
 <button type="submit"> Make Bet </button>

</form>>
<hr>
<hr>
<b> Latest bets: </b>>
{% if latest_bets %}
  {% for c in latest_bets %}
    <p>
        {% if c.eventBet == "first" %}
            <strong>First team win</strong>
        {% else %}
            <strong>Second team win</strong>
        {% endif %}
        <p>{{c.dollars }} </p>
        <em> {{c.date_added}}</em>
</p>
{% endfor %}
{% else %}
There are no bets yet. Do it! Now!
{% endif %}

<hr>

{% endblock %}